Repository thoreinstein/aix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.2.0"

repos:
  # Beads issue tracker sync
  - repo: local
    hooks:
      - id: beads-sync
        name: beads sync
        entry: bd hooks run pre-commit
        language: system
        pass_filenames: false
        always_run: true

  # golangci-lint (local hooks to support git worktrees)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint run --timeout=5m'
        language: system
        types: [go]
        pass_filenames: false
      - id: golangci-lint-fmt
        name: golangci-lint fmt
        entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint fmt'
        language: system
        types: [go]
        pass_filenames: false

  # Go module maintenance
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy

  # Go build and test
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: go build -buildvcs=false -o /dev/null ./cmd/aix
        language: system
        pass_filenames: false
        types: [go]
      - id: gen-doc
        name: generate documentation
        entry: go run ./cmd/aix/main.go gen-doc --dir ./aix-docs/content/docs/reference/
        language: system
        pass_filenames: false
        files: \.go$
      - id: hugo-build
        name: hugo build
        entry: sh -c 'cd aix-docs && npm run build'
        language: system
        pass_filenames: false
        files: ^aix-docs/

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # GitHub Actions security scanning
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
        args: ["--min-severity=medium"]

docs: address review comments for PR #16
  aix-docs/config/_default/languages.toml
  aix-docs/content/docs/guides/platforms.md
  aix-docs/hugo_stats.json
Due: hugo-build

docs: add Codex as a planned platform
  aix-docs/content/docs/guides/platforms.md
  aix-docs/hugo_stats.json
Due: hugo-build

ci: add pre-commit hooks for docs generation and build
  .pre-commit-config.yaml
Due: none

docs: finalize configuration and cleanup placeholder content
  aix-docs/config/_default/hugo.toml
  aix-docs/config/_default/languages.toml
  aix-docs/config/_default/menus/menus.nl.toml
  aix-docs/config/_default/params.toml
  aix-docs/config/production/hugo.toml
  aix-docs/content/blog/example/index.md
  aix-docs/content/docs/resources.md
  aix-docs/content/privacy.md
Due: hugo-build

docs: add troubleshooting guide
  aix-docs/content/docs/_index.md
  aix-docs/content/docs/guides/_index.md
  aix-docs/content/docs/guides/troubleshooting.md
Due: hugo-build

docs: add platform configuration guide
  aix-docs/content/docs/guides/_index.md
  aix-docs/content/docs/guides/platforms.md
  aix-docs/content/docs/guides/skills.md
Due: hugo-build

docs: add config file reference
  aix-docs/content/docs/reference/_index.md
  aix-docs/content/docs/reference/configuration.md
Due: hugo-build

Add foundation for repository management (aix-osi.1)
  internal/config/config.go
  internal/git/git.go
  internal/git/git_test.go
  internal/paths/paths.go
  internal/paths/paths_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repository manager package (aix-osi.1)
  internal/repo/manager.go
  internal/repo/manager_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repo CLI commands (aix-osi.1)
  cmd/aix/commands/repo.go
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/list.go
  cmd/aix/commands/repo/remove.go
  cmd/aix/commands/repo/repo.go
  cmd/aix/commands/repo/update.go
  internal/config/config.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add resource types and scanner for repo discovery
  internal/resource/scanner.go
  internal/resource/scanner_test.go
  internal/resource/types.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add search functionality for resource discovery
  internal/resource/search.go
  internal/resource/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add aix search command for resource discovery
  cmd/aix/commands/search.go
  cmd/aix/commands/search/search.go
  cmd/aix/commands/search/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Optimize scanner with parallel execution and robust error handling
  internal/resource/scanner.go
  internal/resource/scanner_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Docs: Add guides for repository management
  README.md
  aix-docs/content/docs/_index.md
  aix-docs/content/docs/guides/agents.md
  aix-docs/content/docs/guides/commands.md
  aix-docs/content/docs/guides/repositories.md
  aix-docs/content/docs/guides/skills.md
Due: hugo-build

Add repo-aware installation for skill, command, and agent
  cmd/aix/commands/agent/install.go
  cmd/aix/commands/command/install.go
  cmd/aix/commands/skill/install.go
  internal/cli/prompt/select.go
  internal/cli/prompt/select_test.go
  internal/resource/copy.go
  internal/resource/copy_test.go
  internal/resource/lookup.go
  internal/resource/lookup_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add error handling for no repos and ambiguous paths
  cmd/aix/commands/agent/install.go
  cmd/aix/commands/command/install.go
  cmd/aix/commands/skill/install.go
  internal/resource/lookup.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add aix mcp install command with repo-first lookup
  cmd/aix/commands/mcp/install.go
  cmd/aix/commands/mcp/install_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repository documentation and content validation
  README.md
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/repo.go
  cmd/aix/commands/repo/repo_test.go
  cmd/aix/commands/repo/update.go
  docs/repositories.md
  internal/repo/validator.go
  internal/repo/validator_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

ci: add lychee link checker and repo integration tests
  .pre-commit-config.yaml
  CONTRIBUTING.md
  aix-docs/content/docs/reference/aix.md
  aix-docs/content/docs/reference/aix_agent.md
  aix-docs/content/docs/reference/aix_agent_install.md
  aix-docs/content/docs/reference/aix_command.md
  aix-docs/content/docs/reference/aix_command_install.md
  aix-docs/content/docs/reference/aix_mcp.md
  aix-docs/content/docs/reference/aix_mcp_install.md
  aix-docs/content/docs/reference/aix_repo.md
  aix-docs/content/docs/reference/aix_repo_add.md
  aix-docs/content/docs/reference/aix_repo_list.md
  aix-docs/content/docs/reference/aix_repo_remove.md
  aix-docs/content/docs/reference/aix_repo_update.md
  aix-docs/content/docs/reference/aix_search.md
  aix-docs/content/docs/reference/aix_skill.md
  aix-docs/content/docs/reference/aix_skill_install.md
  aix-docs/hugo_stats.json
  cmd/aix/commands/repo/integration_test.go
  lychee.toml
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

fix: address three repo ecosystem bugs
  cmd/aix/commands/repo/list.go
  cmd/aix/commands/repo/remove.go
  internal/git/git.go
  internal/repo/manager.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

fix: address remaining repo ecosystem issues
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/update.go
  internal/repo/manager.go
  internal/repo/manager_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Polish repo CLI: progress indicators and error messaging
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/remove.go
  cmd/aix/commands/repo/update.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Fix skill install from repo validation failure
  aix-docs/content/docs/getting-started.md
  cmd/aix/commands/repo/integration_test.go
  cmd/aix/commands/repo/repo_test.go
  cmd/aix/commands/skill/install.go
  docs/repositories.md
  internal/repo/validator.go
  internal/repo/validator_test.go
  internal/resource/copy.go
  internal/resource/copy_test.go
  internal/resource/scanner.go
  internal/resource/scanner_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

Add skill search command structure (aix-bny.1)
  aix-docs/content/docs/reference/aix_skill.md
  aix-docs/content/docs/reference/aix_skill_search.md
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

Implement skill discovery across repositories (aix-bny.2)
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add output formatting for skill search (aix-bny.3)
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add --repo validation and edge case tests (aix-bny.4)
  cmd/aix/commands/skill/search.go
  cmd/aix/commands/skill/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add command search command (aix-r6c)
  aix-docs/content/docs/reference/aix_agent.md
  aix-docs/content/docs/reference/aix_agent_search.md
  aix-docs/content/docs/reference/aix_command.md
  aix-docs/content/docs/reference/aix_command_search.md
  aix-docs/content/docs/reference/aix_mcp.md
  aix-docs/content/docs/reference/aix_mcp_search.md
  cmd/aix/commands/agent/search.go
  cmd/aix/commands/agent/search_test.go
  cmd/aix/commands/command/search.go
  cmd/aix/commands/command/search_test.go
  cmd/aix/commands/mcp/search.go
  cmd/aix/commands/mcp/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build
