Repository thoreinstein/aix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

golangci-lint:
  name: golangci-lint
  entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint run --timeout=5m'
  language: system
  pass_filenames: false

golangci-lint-fmt:
  name: golangci-lint fmt
  entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint fmt'
  language: system
  pass_filenames: false

go-build:
  name: go build
  entry: go build -buildvcs=false -o /dev/null ./cmd/aix
  language: system
  pass_filenames: false

gen-doc:
  name: generate documentation
  entry: go run ./cmd/aix/main.go gen-doc --dir ./aix-docs/content/docs/reference/
  language: system
  pass_filenames: false

hugo-build:
  name: hugo build
  entry: sh -c 'cd aix-docs && npm run build'
  language: system
  pass_filenames: false

Add --repo validation and edge case tests (aix-bny.4)
  cmd/aix/commands/skill/search.go
  cmd/aix/commands/skill/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Optimize scanner with parallel execution and robust error handling
  internal/resource/scanner.go
  internal/resource/scanner_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repo CLI commands (aix-osi.1)
  cmd/aix/commands/repo.go
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/list.go
  cmd/aix/commands/repo/remove.go
  cmd/aix/commands/repo/repo.go
  cmd/aix/commands/repo/update.go
  internal/config/config.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repository documentation and content validation
  README.md
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/repo.go
  cmd/aix/commands/repo/repo_test.go
  cmd/aix/commands/repo/update.go
  docs/repositories.md
  internal/repo/validator.go
  internal/repo/validator_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add foundation for repository management (aix-osi.1)
  internal/config/config.go
  internal/git/git.go
  internal/git/git_test.go
  internal/paths/paths.go
  internal/paths/paths_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add resource types and scanner for repo discovery
  internal/resource/scanner.go
  internal/resource/scanner_test.go
  internal/resource/types.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Polish repo CLI: progress indicators and error messaging
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/remove.go
  cmd/aix/commands/repo/update.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

fix: address remaining repo ecosystem issues
  cmd/aix/commands/repo/add.go
  cmd/aix/commands/repo/update.go
  internal/repo/manager.go
  internal/repo/manager_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repository manager package (aix-osi.1)
  internal/repo/manager.go
  internal/repo/manager_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add search functionality for resource discovery
  internal/resource/search.go
  internal/resource/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add skill search command structure (aix-bny.1)
  aix-docs/content/docs/reference/aix_skill.md
  aix-docs/content/docs/reference/aix_skill_search.md
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

fix: address three repo ecosystem bugs
  cmd/aix/commands/repo/list.go
  cmd/aix/commands/repo/remove.go
  internal/git/git.go
  internal/repo/manager.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Implement skill discovery across repositories (aix-bny.2)
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add repo-aware installation for skill, command, and agent
  cmd/aix/commands/agent/install.go
  cmd/aix/commands/command/install.go
  cmd/aix/commands/skill/install.go
  internal/cli/prompt/select.go
  internal/cli/prompt/select_test.go
  internal/resource/copy.go
  internal/resource/copy_test.go
  internal/resource/lookup.go
  internal/resource/lookup_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

ci: add lychee link checker and repo integration tests
  .pre-commit-config.yaml
  CONTRIBUTING.md
  aix-docs/content/docs/reference/aix.md
  aix-docs/content/docs/reference/aix_agent.md
  aix-docs/content/docs/reference/aix_agent_install.md
  aix-docs/content/docs/reference/aix_command.md
  aix-docs/content/docs/reference/aix_command_install.md
  aix-docs/content/docs/reference/aix_mcp.md
  aix-docs/content/docs/reference/aix_mcp_install.md
  aix-docs/content/docs/reference/aix_repo.md
  aix-docs/content/docs/reference/aix_repo_add.md
  aix-docs/content/docs/reference/aix_repo_list.md
  aix-docs/content/docs/reference/aix_repo_remove.md
  aix-docs/content/docs/reference/aix_repo_update.md
  aix-docs/content/docs/reference/aix_search.md
  aix-docs/content/docs/reference/aix_skill.md
  aix-docs/content/docs/reference/aix_skill_install.md
  aix-docs/hugo_stats.json
  cmd/aix/commands/repo/integration_test.go
  lychee.toml
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

Add output formatting for skill search (aix-bny.3)
  cmd/aix/commands/skill/search.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add error handling for no repos and ambiguous paths
  cmd/aix/commands/agent/install.go
  cmd/aix/commands/command/install.go
  cmd/aix/commands/skill/install.go
  internal/resource/lookup.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Add command search command (aix-r6c)
  aix-docs/content/docs/reference/aix_agent.md
  aix-docs/content/docs/reference/aix_agent_search.md
  aix-docs/content/docs/reference/aix_command.md
  aix-docs/content/docs/reference/aix_command_search.md
  aix-docs/content/docs/reference/aix_mcp.md
  aix-docs/content/docs/reference/aix_mcp_search.md
  cmd/aix/commands/agent/search.go
  cmd/aix/commands/agent/search_test.go
  cmd/aix/commands/command/search.go
  cmd/aix/commands/command/search_test.go
  cmd/aix/commands/mcp/search.go
  cmd/aix/commands/mcp/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

Add aix search command for resource discovery
  cmd/aix/commands/search.go
  cmd/aix/commands/search/search.go
  cmd/aix/commands/search/search_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Fix skill install from repo validation failure
  aix-docs/content/docs/getting-started.md
  cmd/aix/commands/repo/integration_test.go
  cmd/aix/commands/repo/repo_test.go
  cmd/aix/commands/skill/install.go
  docs/repositories.md
  internal/repo/validator.go
  internal/repo/validator_test.go
  internal/resource/copy.go
  internal/resource/copy_test.go
  internal/resource/scanner.go
  internal/resource/scanner_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc, hugo-build

Add aix mcp install command with repo-first lookup
  cmd/aix/commands/mcp/install.go
  cmd/aix/commands/mcp/install_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, gen-doc

Docs: Add guides for repository management
  README.md
  aix-docs/content/docs/_index.md
  aix-docs/content/docs/guides/agents.md
  aix-docs/content/docs/guides/commands.md
  aix-docs/content/docs/guides/repositories.md
  aix-docs/content/docs/guides/skills.md
Due: hugo-build

Path conditions:
  golangci-lint: any of: \.go$
  golangci-lint-fmt: any of: \.go$
  go-build: any of: \.go$
  gen-doc: any of: \.go$
  hugo-build: any of: ^aix-docs/
